/.venv/
.env
/node_modules
/.vscode
/public/uploads/employees/*
!/public/uploads/employees/.gitkeep

/src/python/data/image/*
!/src/python/data/image/.gitkeep

/src/python/data/proofs/*
!/src/python/data/proofs/.gitkeep

/src/python/Models/*
!/src/python/Models/.gitkeep

/src/python/src/Dataset/FaceData/processed/*
!/src/python/src/Dataset/FaceData/processed/.gitkeep

/src/python/src/Dataset/FaceData/raw/*
!/src/python/src/Dataset/FaceData/raw/.gitkeep

/src/python/src/models/Dataset/FaceData/raw/*
!/src/python/src/models/Dataset/FaceData/raw/.gitkeep

/src/python/test_spoofing/Dataset/all/*
!/src/python/test_spoofing/Dataset/all/.gitkeep
/src/python/test_spoofing/Dataset/DataCollect/*
!/src/python/test_spoofing/Dataset/DataCollect/.gitkeep
/src/python/test_spoofing/Dataset/Fake/*
!/src/python/test_spoofing/Dataset/Fake/.gitkeep
/src/python/test_spoofing/Dataset/Real/*
!/src/python/test_spoofing/Dataset/Real/.gitkeep
/src/python/test_spoofing/Dataset/SplitData/*
!/src/python/test_spoofing/Dataset/SplitData/.gitkeep

/src/python/test_spoofing/models/*
!/src/python/test_spoofing/models/.gitkeep


